{% extends "base.html" %}

{% block title %}Calibration{% endblock %}

{% block javascript %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script type="text/javascript" src="/static/webgazer.js"></script>
	<script type="text/javascript" src="/static/main.js"></script>
	<script src="/static/calibration.js"></script>
{% endblock %}

{% block content %}
	<canvas id="plotting_canvas" width="500" height="500">
		<!-- fallback content in case the browser does not support the Canvas API. -->
		Your browser does not support the Canvas API.
	</canvas>

	<script>
		startEyeTracking(clearPreviousData = true);
		showInstructions();
	</script>
{% endblock %}